<h1>Login</h1>
<%= form_tag sessions_path do %>
    <% flash.each do |key, msg| %>
        <div><%= msg %></div>
    <% end %>

    <%= label_tag :gamertag %>
    <%= text_field_tag :gamertag, params[:gamertag] %>
    </br>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    </br>
    <%= submit_tag "Log in" %>
    </br>
    <div>Not a member?</div>
    <%= link_to 'Click here to be a member!', new_user_path %>

<% end %>
