
<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">
        <img src="http://i.imgur.com/AQOszO0.jpg">
      </a>
      <div class="btn-group">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account Options</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/login">Login</a>
          </br>
          <a class="dropdown-item" href="/logout">Logout</a>
          </br>
          <a class="dropdown-item" href="/register">Sign Up</a>
        </div>
      </div>
      <div class="btn-group">
       <a href="/new_video" class="btn btn-secondary btn-lg active" role="button">New Video</a>
      </div>
    </div>
</nav>


<body class="main_page">
  <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <iframe id="ytplayer" type="text/html" width="100%" height="100%"
      src="http://www.youtube.com/embed/G2lAevT97_4?autoplay=1&loop=1&playlist=Ts8yoDP_gG4"
      frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
    </iframe>
  </div>

  <h1>The Latest PWNs</h1>
  <div class="current_user">
  <% if current_user %>
    <% if notice %>
      <div id="notice"><%= notice %> <%= current_user.gamertag %></div>
    <% end %>
    <div id="notice"><%= 'Welcome back' %> <%= current_user.gamertag %></div>
  <% end %>
  </div>

  <% @videos.reverse_each do |video| %>
    </br>
    <tr>
      <td class="content">
        <h2><%= video.title %></h2>
        </br>
        <% video.urlLink = '<iframe frameborder=0 allowFullScreen scale="tofit" width="640" height="365" style="max-width:100%" src="' + video.urlLink.to_s + '/embed"></iframe>' %>
        <div class="video_feed"><%= raw(video.urlLink) %></div>
      </td>
      </br>
      <% if video.user %>
      <div class="video_user_sig">Pwn by <%= video.user.gamertag %></div>
      <% end %>
      <div class="video_function">
        <% if current_user %>
          <% if video.user && (video.user.gamertag == current_user.gamertag) %>
            <td>
            <%= link_to 'Delete', video, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
        <% end %>
      </div>
    </tr>

    </br>
    <% video.comments.each do |comment| %>
      </br>
      <div class="user_comment">Comment by <%= comment.user.gamertag %></div>

      <div class="comment_feed"><%= comment.comment %></div>
      <div class="comment_functions">

        <% if current_user %>
          <% if comment.user && (comment.user.gamertag == current_user.gamertag)%>
            <%= link_to 'Edit', edit_comment_path(comment) %>
            <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
        </div>
      <% end %>

    <div class="comment_box">
      <%= form_for(video.comments.build) do |f| %>
          <%= f.label :Comment %><br>
          <%= f.text_field :comment %>
          <%= f.hidden_field :video_id %>
          <%= f.submit %>
      <% end %>
    </div>
  <% end %>
</body>

