
<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">
        <img src="http://i.imgur.com/AQOszO0.jpg">
      </a>
    </div>
</nav>

<h1>Submit your greatest PWN!</h1>
<body class="main_page">
  <%= form_for(@video) do |f| %>
    <div class="register">
      <div class="text"><%= f.label :Title %></div>
      <div class="text_box"><%= f.text_field :title %></div>

      <div class="text"><%= f.label :URL %></div>
      <div class="text_box"><%= f.text_area :urlLink %></div>
      <%= f.hidden_field :user_id %>

      <div class="submit"><%= f.submit %></div>
    </div>
  <% end %>
</body>
