<h1>New Video</h1>

<%= form_for(@video) do |f| %>
  <p>
    <%= f.label :Title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :URL %><br>
    <%= f.text_area :urlLink %>
    <%= f.hidden_field :user_id %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', root_path %>
